<notification></notification>

<div class="w-full bottom-0 flex flex-row justify-around mb-2">
    <button (click)="error()" class="flex h-12 p-2 w-32 items-center justify-center bg-red-200 text-black rounded">Error</button>
    <button (click)="request()" class="flex h-12 p-2 w-32 items-center justify-center bg-blue-200 text-black rounded">Start</button>
    <button (click)="success()" class="flex h-12 p-2 w-32 items-center justify-center bg-green-200 text-black rounded">Success</button>
    <button (click)="warning()" class="flex h-12 p-2 w-32 items-center justify-center bg-yellow-200 text-black rounded">Warning</button>
</div>